// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primaryDark: #0A1426;
$primaryBright: #172D56;
$secondary: #e04e4e;

$textLight: #FFFFFF;
$textDark: #000000;

$borderDark: #222;

$backgroundDark: #0b0b0b;

html, body{
  font-family: 'Titillium Web', sans-serif;

}
body {

}
nav{
  height: 75px;
}
#main{
  padding-top: 80px;
}
.btn{
  border-radius: 0;
}
.btn.btn-primary{
  background-color: $primaryBright;
  border-color: darken($primaryBright, 10%);
}
.btn.btn-primary:hover{
  background-color: darken($primaryBright, 5%);
  border-color: darken($primaryBright,10%);
  background-position: 0;
}

@media (max-width: 768px){
  #logo{
    height: 40px;
  }
  .navbar-collapse{
    background-color: black;
  }
}
@media (min-width: 768px){
  .navbar-nav>li>a {
    margin-top: 15px;
  }
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: $primaryDark;
  background-image: none;
  border: none;
}

a.navbar-brand{
  padding: 5px 15px;
}
.jumbotron{
  background-color: $primaryDark;
  color: white;
}
#welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

}
#welcome h1{
  font-size: 50px;
}
#welcome #platform{
  font-size: 15px;
}
#welcome #platform-link{
  font-size: 18px;
  color: $textLight;
}
#welcome-left {
  width: 50%;
}
#welcome-right {
  width: 50%;
}

#download{

}
#download i{
  margin-left: 10px;
}

#download-button{
  padding: 15px 0;
}


#platforms h1, #info h1{
  margin: 35px 0;
}
#platforms, #info{
  padding: 50px 0;
}

#subscribe{
  text-align: center;

}
#subscribe.dark{
  background-color: $borderDark;
  color: $textLight;
  padding: 130px 0;
}
#subscribe h1{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
}
#subscribe form{
  font-size: 18px;
}
#subscribe #email {

}
#subscribe #email{
  border-radius: 0;
  padding: 20px;
  padding-left: 10px;
  width: 350px;
}
#subscribe button[type=submit].btn.btn-default{
  padding: 10px;
  margin-left: -4px;
  background-image: none;
}
#subscribe-thanks{
  display: none;
}
.btn.btn-default{
  background-color: $secondary;
  border-color: darken($secondary, 10%);
  color: $textLight;
}
.btn.btn-default:hover{
  background-color: darken($secondary, 5%);
  border-color: darken($secondary, 10%);
  color: $textLight;
}


#thanks {
  padding: 150px 0 50px;
  text-align: center;
}

#footer{
  margin-top: 50px;
}